## Import Libraries

In [1]:
import GetOldTweets3 as got
import pymysql
from mysql.connector import Error
import tweepy
import json
from dateutil import parser
import time
import os
import subprocess

##  Mysql database password

In [2]:
password = '1234'

##  functions used to get stored data from mysql database

In [3]:
def gettweetsNBRall():
    con = pymysql.connect(host = 'localhost',db='tweetsdb', user='root', password = password, charset = 'utf8')
    cursor = con.cursor()
    cursor.execute("SELECT COUNT(*) from tweetsuniv")
    result=cursor.fetchone()
    cursor.close()
    con.close()
    return result[0]

In [4]:
def gettweetsNBR(track):
    con = pymysql.connect(host = 'localhost',db='tweetsdb', user='root', password = password, charset = 'utf8')
    cursor = con.cursor()
    cursor.execute("SELECT COUNT(*) from tweetsuniv where track=%s",track)
    result=cursor.fetchone()
    cursor.close()
    con.close()
    return result[0]

In [5]:
def GetDISTINCTvalues(clum):
    con = pymysql.connect(host = 'localhost',db='tweetsdb', user='root', password = password, charset = 'utf8')
    cursor = con.cursor()
    query = "SELECT DISTINCT "+clum+"  FROM tweetsuniv"
    cursor.execute(query)
    result=cursor.fetchall()
    cursor.close()
    con.close()
    return result

## Connect to database and insert tweets row

In [6]:
def connect(tweetID, track,user, created_at, towho, tweet, hashtags , mentions, retweet_count, likes):
    """
    connect to MySQL database and insert twitter data
    """
    try:
        con = pymysql.connect(host = 'localhost',db='tweetsdb', user='root', password = password, charset = 'utf8')
        
        print(con)
        """
        Insert twitter data
        """
        cursor = con.cursor()
        # twitter, golf
        query = "INSERT INTO tweetsuniv (tweetID, track,user, created_at, towho, tweet, hashtags , mentions, retweet_count, likes) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        cursor.execute(query, (tweetID, track,user, created_at, towho, tweet, hashtags , mentions, retweet_count, likes))
        con.commit()
            
        cursor.close()
        con.close()
    except:
        print('duplication')

    return

In [7]:

def get_twitter_info():
    tweet_df["tweet_text"] = tweet_df["got_criteria"].apply(lambda x: x.text)
    tweet_df["date"] = tweet_df["got_criteria"].apply(lambda x: x.date)
    tweet_df["hashtags"] = tweet_df["got_criteria"].apply(lambda x: x.hashtags)
    tweet_df["link"] = tweet_df["got_criteria"].apply(lambda x: x.permalink)

In [8]:
def printTweet(tweet,track):
    #print(tweet)
    for t in tweet:
        print(int(t.id),track, t.username ,t.date,t.to , t.text, t.hashtags, t.mentions  , t.retweets , t.favorites)
        connect(int(t.id),track, t.username ,t.date,t.to , t.text, t.hashtags, t.mentions  , t.retweets , t.favorites)
        print("id: %s" % t.id)

##  search setting

In [9]:
#set keyword, location and search variables
keyword = "#جامعة_الجزائر"
oldest_date = "2010-01-01"    
newest_date = "2020-09-01"
langue = 'ar'
number_tweets = 100            #max number of tweets that will be returned (may be lower depending on availability)
#get old tweets
tweet_criteria = got.manager.TweetCriteria().setQuerySearch(keyword)\
                                            .setSince(oldest_date)\
                                            .setLang(langue)\
                                            .setUntil(newest_date)\
                                            .setMaxTweets(number_tweets)

In [10]:
tweet = got.manager.TweetManager.getTweets(tweet_criteria)

In [11]:
tweet[0]

In [12]:
printTweet(tweet,keyword)

1285159412504682506 #جامعة_الجزائر KarimCarabin 2020-07-20 10:27:35+00:00 radioalgerie_ar ياريت لو نسطتيع الاطلاع على أعمال هؤلاء التي قدموها حتى يكونوا اهل للترقية أين اضافاتهم للعلم اريد ان اقراء #جامعة_الجزائر    0 0
<pymysql.connections.Connection object at 0x000000000751DDA0>
duplication
id: 1285159412504682506
1296333946569887745 #جامعة_الجزائر JLCPCB 2020-08-20 06:31:12+00:00 None JLCPCB Prototype For $2/5pcs, 24 Hours Quick Turnaround. Get $23 Coupons For New Customer Free PCB SMT + $24 Coupons Monthly Order Here https://jlcpcb.com/v   83 818
<pymysql.connections.Connection object at 0x00000000074E54A8>
duplication
id: 1296333946569887745
1283299001438273536 #جامعة_الجزائر ahmedali_rachdi 2020-07-15 07:14:59+00:00 None الطريقة العملياتية لتسيير نهاية السنة الجامعية 2019/2020 والدخول الجامعي 2020/2021 في ظل جائحة كورونا هل يمكن الووفيق بين خفض الزمن البيداغوجي وخفض عددالطلبة في القاعات؟! صراحة المعادلة صعبة #جامعة_الجزائر   0 5
<pymysql.connections.Connection object at 0x000000000751D6D8>
duplication
id: 1283299001438273536
1271876769423990784 #جامعة_الجزائر ZdzOfficial 2020-06-13 18:47:06+00:00 None #رواق_الصورة | هل تعرفون "حقول اللّفت"...؟ هكذا جاءت الى الوجود #جامعة_الجزائر التي نعرف اليوم.. 11 صورة قديمة في هذا الرابط: https://bit.ly/37zcJlO   0 0
<pymysql.connections.Connection object at 0x000000000751D518>
duplication
id: 1271876769423990784
1271876711370698757 #جامعة_الجزائر ZdzOfficial 2020-06-13 18:46:52+00:00 None #رواق_الصورة | هل تعرفون "حقول اللّفت"...؟ هكذا جاءت الى الوجود #جامعة_الجزائر التي نعرف اليوم.. 11 صورة قديمة في هذا الرابط: https://bit.ly/37zcJlO   0 0
<pymysql.connections.Connection object at 0x000000000751D748>
duplication
id: 1271876711370698757
1271876645239037952 #جامعة_الجزائر ZdzOfficial 2020-06-13 18:46:37+00:00 None #رواق_الصورة | هل تعرفون "حقول اللّفت"...؟ هكذا جاءت الى الوجود #جامعة_الجزائر التي نعرف اليوم.. 11 صورة قديمة في هذا الرابط: https://bit.ly/37zcJlO   0 0
<pymysql.connections.Connection object at 0x000000000751D4E0>
duplication
id: 1271876645239037952
1269981432128114688 #جامعة_الجزائر kamouk16 2020-06-08 13:15:43+00:00 None مناقشة أول أطروحة دكتوراه بجامعة الجزائر 2، وعن بعد وبتقنية التواصل المرئي في ظل تواصل انتشار فيروس كورونا بالبلاد. #الجزائر #جامعة_الجزائر    1 1
<pymysql.connections.Connection object at 0x000000000751D710>
duplication
id: 1269981432128114688
1269379498031620101 #جامعة_الجزائر ouchaitmeriem 2020-06-06 21:23:50+00:00 None وبينما تحتجزك مشاغل الحياة وتتقاذفكَ بهمومها ومسرّاتها،تمتد إليك يدٌ من الماضي لتذكركَ بمكان وزمان عشتهما كطالب...مجموعة جديدة على فيسبوك انضممتُ إليها حديثاً أعضاؤهازملاء الدراسة الجامعية كثيرون انقطعت أخبارهم ولم أرهم منذ عقدين ارتسمتْ وجوههم مرة أخرى في مخيلتي #جامعة_الجزائر    8 209
<pymysql.connections.Connection object at 0x000000000751DD68>
duplication
id: 1269379498031620101
1234820219731947521 #جامعة_الجزائر alquari_elomari 2020-03-03 12:37:36+00:00 El_Bilade أوّل ما دمّر الجامعات هو الاختلاط. يجب على الجميع أن يعترف. الاختلاط أفسد الطلاب و الأساتذة. أصبحت أوكارا و ليست جامعات. لكن أين شجاعة الاعتراف. #بن_بيتور #جامعة_الجزائر   0 0
<pymysql.connections.Connection object at 0x000000000751DC88>
duplication
id: 1234820219731947521
1214643076393840640 #جامعة_الجزائر ToufikOuamane 2020-01-07 20:20:51+00:00 None تعيين الأستاذ #سليمان_أعراج عميدا لكلية العلوم السياسية والعلاقات الدولية بــ #جامعة_الجزائر   0 0
<pymysql.connections.Connection object at 0x000000000751D7B8>
duplication
id: 1214643076393840640
1196680249997692928 #جامعة_الجزائر ab4___du 2019-11-19 06:42:59+00:00 None #نمير_البيان #جامعة_الجزائر مرحبا أيها الأصدقاء أبحث عن كتاب السخرية في الأدب الجزائري الحديث.لمحمد ناصر بوحجام. من يوجد معه أرجو التواصل. شاكرا لكم   2 4
<pymysql.connections.Connection object at 0x000000000751DA20>
duplication
id: 1196680249997692928
1118822769087664128 #جامعة_الجزائر ALGtrend 2019-04-18 10:25:09+00:00 None متابعة / #جامعة_الجزائر 1 / #كلية_الحقوق أصدرت الادارة بيانا نفت فيه ترخيصها الدخول الى حرم الجامعة وتوجهت بتبليغ الى الجهات الوصية لتتخذ ما تراه مناسبا من اجراءات قانونية.   1 9
<pymysql.connections.Connection object at 0x000000000751D630>
duplication
id: 1118822769087664128
1102515001875750913 #جامعة_الجزائر MShmseldin 2019-03-04 10:23:54+00:00 None تظاهرات احتجاجية على ترشح #بوتفليقة في #جامعة_الجزائر   0 0
<pymysql.connections.Connection object at 0x000000000751D7F0>
duplication
id: 1102515001875750913
1079723578629738497 #جامعة_الجزائر malikmaykon 2018-12-31 12:58:56+00:00 None #تعقيب صورة متداولة على الفيسبوك.. سبوتة مستوى ثالثة ثانوي؟ هو خريج #جامعة_الجزائر إختصاص #علوم_سياسية. نعتدر على نشر الخبر المغلوط و شكرا لأعضاء الصفحة الذين علقو على المنشور و قامو بتصحيح المعلومة.   0 0
<pymysql.connections.Connection object at 0x000000000751D780>
duplication
id: 1079723578629738497
1055878184678445063 #جامعة_الجزائر Academiaglobe_ 2018-10-26 17:45:51+00:00 None يُعقد #المؤتمر_الدولي_الثالث حول: #علم_النفس_الإيجابي واقع وآفاق تحت شعار” نحو نظرة مستقبلية هادفة "، يومي 11 ، 12 ديسمبر 2018 بقاعة المحاضرات الكبرى – #جامعة_الجزائر. للمزيد من المعلومات عن المؤتمر يرجى زياة الرابط التالي: https://www.diae.events/ar/events/%D8%A7%D9%84%D9%85%D8%A4%D8%AA%D9%85%D8%B1-%D8%A7%D9%84%D8%AF%D9%88%D9%84%D9%8A-%D8%A7%D9%84%D8%AB%D8%A7%D9%84%D8%AB-%D8%AD%D9%88%D9%84-%D8%B9%D9%84%D9%85-%D8%A7%D9%84%D9%86%D9%81%D8%B3-%D8%A7%D9%84/?fbclid=IwAR0P_k0_jlVDAv4QBRLgYZTRru1u1RadK2RAruKSNdGyMX-0PS3LbdisooE #أكاديمياجلوب   0 1
<pymysql.connections.Connection object at 0x000000000751D9E8>
duplication
id: 1055878184678445063
1049900466740633600 #جامعة_الجزائر nraaoman 2018-10-10 05:52:32+00:00 None #يحدث_الآن "التنافس الاقتصادي الفرنسي البريطاني وأثره على عمان خلال منتصف القرن 19م من خلال الأرشيف الفرنسي" أ.د. بوضرساية بوعزة، #جامعه_الجزائر، #الجزائر #مباشر على http://m.youtube.com/channel/UC1ox6QK2NChX61TpfFbeUEg … … … #العلاقات_العمانية_البريطانية #omani_british_relations #omani_british_relations  1 2
<pymysql.connections.Connection object at 0x000000000751DC88>
duplication
id: 1049900466740633600
1049066989300400129 #جامعة_الجزائر ennaharonline 2018-10-07 22:40:35+00:00 None #الجزائر الجينز "المقطع"، "البونتاكور" و"الميني" ممنوعة في #جامعة_الجزائر    5 63
<pymysql.connections.Connection object at 0x000000000751DDA0>
duplication
id: 1049066989300400129
1013840189377138688 #جامعة_الجزائر entv_dz 2018-07-02 17:41:52+00:00 None #جامعة_الجزائر 3 تخرج دفعة من طلبة معهد العلوم والإتصال    1 1
<pymysql.connections.Connection object at 0x000000000751D518>
duplication
id: 1013840189377138688
979765500015202309 #جامعة_الجزائر AntiqueArabiaTW 2018-03-30 17:01:13+00:00 None طالبتان في #جامعة_الجزائر عام 1972    1 5
<pymysql.connections.Connection object at 0x0000000007520320>
duplication
id: 979765500015202309
946306755172208641 #جامعة_الجزائر wXkE3JYD2cALXW3 2017-12-28 09:08:06+00:00 None #هذه_بلادي_الجزاير #جامعة_الجزائر تسما مفيهاش رطارباج لناس المرفوع عليها القلم المهم اذا كان الخبر صحيح نقول لاساتذة شكرا من قلبي ريحتونا من التحضيرات لامتحانات على اقل الواحد يستمتع بالعطلة    1 2
<pymysql.connections.Connection object at 0x00000000075200F0>
duplication
id: 946306755172208641
913135750400675841 #جامعة_الجزائر ennaharonline 2017-09-27 20:18:22+00:00 None #الجزائر #Algerie اتفاقية بين #بورصة و #جامعة_الجزائر لإدخال شهادة ماستير #محلل_مالي https://goo.gl/3i2Hn1 #Algerie  2 9
<pymysql.connections.Connection object at 0x000000000751DBA8>
duplication
id: 913135750400675841
910066606004428800 #جامعة_الجزائر B_Zoubida 2017-09-19 09:02:41+00:00 None كلية الحقوق #جامعة_الجزائر تمنع لبس الفساتين القصيرة للبنات يهتمون بهذا.. وينسون الحديث عن مشاكل الطلاب وتخفيض منحهم لسنة 2018 #الجزائر   0 1
<pymysql.connections.Connection object at 0x0000000007520390>
duplication
id: 910066606004428800
839562304668766223 #جامعة_الجزائر ennaharonline 2017-03-08 19:43:46+00:00 None عميد #جامعة_الجزائر يوفد لجنة تحقيق الى #كلية_الحقوق بعد فضيحة الحفل الساهر http://bit.ly/2lZFnTr   0 6
<pymysql.connections.Connection object at 0x0000000007520128>
duplication
id: 839562304668766223
839560102550114306 #جامعة_الجزائر ennaharonline 2017-03-08 19:35:01+00:00 None عميد #جامعة_الجزائر يعتبر ما حدث من حفلة راقصة بمعهد #الحقوق تجاوز خطير   2 7
<pymysql.connections.Connection object at 0x00000000075200B8>
duplication
id: 839560102550114306
839559047120621568 #جامعة_الجزائر ennaharonline 2017-03-08 19:30:49+00:00 None عميد #جامعة_الجزائر يوفد لجنة تحقيق الى #معهد_الحقوق   1 3

<pymysql.connections.Connection object at 0x0000000007520C50>
duplication
id: 839559047120621568
817863120077070338 #جامعة_الجزائر ennaharonline 2017-01-07 22:38:57+00:00 None رئيس #جامعة_الجزائر 1 يقف على مهازل #بكلية_الحقوق http://bit.ly/2j3qsHW   0 1
<pymysql.connections.Connection object at 0x000000000751D7F0>
duplication
id: 817863120077070338
772530377889976320 #جامعة_الجزائر MaktabatOnLine 2016-09-04 20:22:49+00:00 None #مكتبة - #المكتبات - #جامعة_الجزائر - #الجزائر - #المكتبة_الرقمية متى تتحرر الجامعة الجزائرية من لغة الأرقام... http://fb.me/7yVJ7dJCs   0 0
<pymysql.connections.Connection object at 0x000000000751D588>
duplication
id: 772530377889976320
728192677351690240 #جامعة_الجزائر AlBayanNews 2016-05-05 12:00:38+00:00 None 10 آلاف بحث ورسالةدكتوراه تم مناقشتها في #جامعة_الجزائر منذ العام 2009 باللغة العربية #المؤتمر_الدولي_للغة_العربية   4 2
<pymysql.connections.Connection object at 0x000000000751DC88>
duplication
id: 728192677351690240
728191346842963968 #جامعة_الجزائر AlBayanNews 2016-05-05 11:55:20+00:00 None المدارس والكتاتيب هي ما حافظ على #اللغة_العربية في #الجزائر بوجود المستعمر الفرنسي رئيس #جامعة_الجزائر    3 2
<pymysql.connections.Connection object at 0x000000000751D710>
duplication
id: 728191346842963968
728184053418098688 #جامعة_الجزائر AlBayanNews 2016-05-05 11:26:21+00:00 None مدير #جامعة_الامارات و رئيس #جامعة_القاهرة و رئيس #جامعة_الجزائر والأمين العام لاتحاد الجامعات العربية #دبي   4 2
<pymysql.connections.Connection object at 0x000000000751DE48>
duplication
id: 728184053418098688
710225167612579843 #جامعة_الجزائر ennaharonline 2016-03-16 22:04:09+00:00 None أموال السوسيال تحت الطابلة بـ #جامعة_الجزائر 01 http://bit.ly/1nPeMct   0 2
<pymysql.connections.Connection object at 0x000000000751D208>
duplication
id: 710225167612579843
676524599513886720 #جامعة_الجزائر ennaharonline 2015-12-14 22:10:08+00:00 None التغماس باسم السوسيال في #جامعة_الجزائر 1 http://bit.ly/1RkQi7q   0 1
<pymysql.connections.Connection object at 0x000000000751DA90>
duplication
id: 676524599513886720
674284514559049728 #جامعة_الجزائر ennaharonline 2015-12-08 17:48:50+00:00 None #جامعة_الجزائر تفتح #ليسانس في تخصص #أمن_عمومي http://bit.ly/1ICMqvN   4 3
<pymysql.connections.Connection object at 0x000000000751D780>
duplication
id: 674284514559049728
674279460074573825 #جامعة_الجزائر ennaharonline 2015-12-08 17:28:45+00:00 None #جامعة_الجزائر تفتح ليسانس في تخصص جديد http://bit.ly/21MwOMU   3 5
<pymysql.connections.Connection object at 0x0000000007520160>
duplication
id: 674279460074573825
667101006124183556 #جامعة_الجزائر ennaharonline 2015-11-18 22:04:08+00:00 None هل يعلم عميد #جامعة_الجزائر 1 بما يحدث http://bit.ly/213wY20   1 3
<pymysql.connections.Connection object at 0x0000000007520208>
duplication
id: 667101006124183556
651075658710319104 #جامعة_الجزائر elkhabarlive 2015-10-05 16:45:08+00:00 None #الخبر #جامعة_الجزائر اكتظاظ وسوء تنظيم ونقص في التأطير غليان في الجامعة &gt;&gt;http://bit.ly/1VB2COJ   1 5
<pymysql.connections.Connection object at 0x0000000007520198>
duplication
id: 651075658710319104

In [13]:
GetDISTINCTvalues('track')

(('#جامعة_الجزائر',),
 ('#جامعة_ام_القرى',),
 ('#PNU',),
 ('#جامعة_الملك_سعود',),
 ('#جامعة_الأميرة_نورة',),
 ('#جامعة_الاميرة_نورة',),
 ('جامعة_الأميرة_نورة',),
 ('#جامعة_الأميرة_نوره',),
 ('جامعة_طيبة',),
 ('جامعة_أم_القرى',))

In [14]:
gettweetsNBR('#جامعة_الجزائر')

36

In [15]:
gettweetsNBRall()

36847